<div *ngIf="program() as p; else loading" class="bg-neutral-50 min-h-screen">
  <div class="max-w-[1440px] mx-auto px-2 lg:px-4 flex">
    <aside class="shrink-0 border-r border-neutral-200 bg-white">
      <mereka-program-leftrail [program]="p" [canManage]="true" />
    </aside>

    <aside class="hidden md:block w-56 shrink-0 px-2 py-3 border-r border-neutral-200 bg-white">
      <mereka-program-sidebar [program]="p" [showAdmin]="true" />
    </aside>

    <section class="flex-1 min-w-0 px-4 lg:px-8 py-6">
      <router-outlet />
    </section>
  </div>
</div>
<ng-template #loading>
  <div class="max-w-[1320px] mx-auto px-6 py-24 text-center text-neutral-500">Loading program…</div>
</ng-template>
